.page-index {

  .tagged-header {
    margin: 5px;
    border-bottom: 1px solid $border-color;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    span { flex: 1; }
    .btn {
      flex: 0;
      span, i {
        white-space: nowrap;
        display: inline;
      }
    }

    @include media-breakpoint-down(sm) {
      .btn span {
        display: none;
      }
    }
  }

  .titlecard-preview {
    span { font-size: 11px; }
    img {
      max-width: 100%;
    }
  }

  .load-more {
    text-align: center;
    padding: 20px;

    .btn {
      width: 60vw;
    }
  }

  .tag-list {
    padding: 10px;

    .nav {
      border: 1px solid $blue;
      padding: 5px;
      border-radius: 3px;
    }
  }

  @import './index-grid';
  @import './index-cards';
}
