
.card-grid {
  display: grid;
  padding: 0 10px;
  // place-items: start;
  background-color: $content-bg;
  grid-gap: 20px;

  @include media-breakpoint-down(md) {
    grid-template-columns: 100%;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat( auto-fill, minmax( 480px, 1fr ) );
    grid-template-rows: minmax(100px, 1fr);
  }

  .tweet .tweet-text, .tweet .tweet-quoted-text { line-height: 1.4em; }
  .tweet .tweet-quoted.missing { display: none; }
}

a.grid-card, .grid-card a {
  text-decoration: none !important;
}

.grid-card {
  width: 100%;
  max-height: 700px;
  display: grid;
  align-items: stretch;
  grid-column-gap: 10px;
  text-decoration: none !important;
  position: relative;

  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;

  @include media-breakpoint-down(xs) {
    padding: 10px;
    font-size: 14px;
    border-radius: 0;
  }

  &.not-ootd-only {
    box-shadow: 0 3px 5px rgba(238,118,173,0.5);
    border: 2px solid $gray-700;
    background-color: white;

    @include media-breakpoint-down(xs) {
      border-width: 2px 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &.is-ootd-only {
      margin-top: -10px;
      margin-bottom: -10px;
    }

    &.is-ootd-only + .is-ootd-only {
      border-top: 2px solid rgb(230,230,230);
      padding-top: 20px;
      margin-top: 0px;
    }
  }

  > * {
    z-index: 1;
  }

  .grid-poster {
    grid-area: poster;
    z-index: 0;

    overflow: hidden;
    img { border-radius: 5px;}
  }

  .grid-date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    line-height: 1;
    padding-bottom: 5px;

    grid-area: datetags;
    display: flex;

    span {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      white-space: nowrap;
      margin-right: 4px;
    }

    // @include media-breakpoint-down(xs) {
    //   font-size: 10px;
    // }
  }

  .grid-title {
    grid-area: title;
    font-size: 1.7em;
    line-height: 1.3;
    font-weight: 500;
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: 1.4em;
    }
  }

  .grid-subtitle {
    grid-area: subtitle;
    font-size: 1.4em;
    font-weight: 300;
    margin: 0;
  }

  .grid-description {
    display: none;
    grid-area: descrip;
    color: $gray-600;
  }

  .grid-tweet {
    grid-area: poster;
    margin: 10px 0;
  }


  .grid-preview {
    grid-area: descrip;
    position: relative;
    overflow: hidden;
    line-height: 1.4;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      color: #9B9B9B;
    }

    p:last-child {margin-bottom: 0;}

    @include media-breakpoint-down(sm) {
      padding-bottom: 10px;
    }
  }
  &.short-preview .grid-preview > { min-height: unset; }
  &.short-preview .grid-preview > div { position: relative; }


  .grid-readmore-shade {
    grid-area: descrip;
    align-self: end;
    z-index: 9;

    margin-left: -10px;
    padding-left: 10px;

    height: 60px;

    @include media-breakpoint-down(sm) {
      height: 30px;
    }

    background: linear-gradient(180deg,
      rgba($content-bg,0) 0%,
      rgba($content-bg,0.5) 10%,
      rgba($content-bg,1) 90%,
    );
  }
  &.short-preview .grid-readmore-shade { display: none; }


  &.not-ootd-only .grid-readmore-shade {
    background: linear-gradient(180deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.5) 10%,
      rgba(255,255,255,1) 90%,
    );
  }

  .grid-readmore {
    grid-area: descrip;
    align-self: end;
    z-index: 10;

    font-size: 1.3em;
    font-weight: 700;
    line-height: 1;
  }

  &.is-tall {
    // display: none;
    grid-template-areas:
      "datetags poster"
      "title poster"
      "subtitle poster"
      "descrip poster"
    ;
    grid-template-columns: 1fr 25%;
    grid-template-rows: min-content min-content min-content 1fr;

    .grid-poster img {
      width: 100%;
    }

  }

  &.is-square {
    // display: none;
    grid-template-areas:
      "datetags datetags"
      "title poster"
      "subtitle poster"
      "descrip poster"
    ;
    grid-template-columns: 1fr 50%;
    grid-template-rows: min-content min-content min-content 1fr;

    .grid-poster {
      padding-bottom: 10px;
      img {
        width: 100%;
      }
    }

    &.hide-title, &.no-preview {
      grid-template-areas:
        "datetags"
        "title"
        "subtitle"
        "poster"
        "descrip"
      ;
      grid-template-columns: 1fr;

      .grid-preview { min-height: 10rem; }

    }

    &.hide-title {
      .grid-title, .grid-subtitle, .grid-description {
        display: none;
      }
    }

    &.no-preview {
      .grid-preview {
        display: none;
      }
    }

  }

  &.is-wide:not(.has-tweet) {
    // display: none;
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content min-content min-content 1fr;

    padding: 0;

    > * { grid-column: 1; }

    .grid-date,
    .grid-title,
    .grid-subtitle,
    .grid-preview > div {
      padding-left: 15px;
      padding-right: 15px;

      @include media-breakpoint-down(xs) {
        padding-left:  10px;
        padding-right: 10px;
      }
    }
    .grid-readmore { padding-bottom: 15px; padding-left: 15px; }

    .grid-date { padding-top: 15px; }

    .grid-date,
    .grid-title,
    .grid-subtitle {
      background: rgba(255,255,255, 0.8);
      text-shadow: 0px 0px 5px white;
    }

    .grid-poster   { grid-row: 1/4; }
    .grid-date     { grid-row: 2/2; }
    .grid-title    { grid-row: 3/3; }
    .grid-subtitle { grid-row: 4/4; }
    .grid-preview  { grid-row: 5/5; }
    .grid-readmore, .grid-readmore-shade { grid-row: 5/5; }

    .grid-poster img {
      width: 100%;
      border-radius: 0;
    }

    &:not(.short-preview) .grid-preview { min-height: 10rem; }
    &.short-preview .grid-preview > div { padding-bottom: 15px; }

    &.no-subtitle .grid-title { padding-bottom: 10px; }
    &.has-subtitle .grid-subtitle { padding-bottom: 10px; }
    .grid-preview > div { padding-top: 15px; }

    @include media-breakpoint-down(xs) {
      &.no-subtitle .grid-title { padding-bottom: 5px; }
      &.has-subtitle .grid-subtitle { padding-bottom: 5px; }
      .grid-preview > div { padding-top: 10px; }
      .grid-date { padding-top: 10px; }
    }


    &.hide-title {
      grid-template-rows: min-content min-content 1fr;

      .grid-date     { grid-row: 1/1; }
      .grid-poster   { grid-row: 2/4; }
      .grid-preview  { grid-row: 5/5; }
      .grid-readmore, .grid-readmore-shade { grid-row: 5/5; }

    }
  }

  &.no-images.no-poster:not(.has-tweet) {
    grid-template-columns: 100%;
    grid-template-areas:
      "datetags"
      "title"
      "subtitle"
      "descrip"
    ;
    grid-template-rows: min-content min-content min-content 1fr;

    .grid-preview { min-height: 8em; }
  }
  &.short-preview.no-images .grid-preview { min-height: unset; }

  &.has-tweet {
    grid-template-columns: 100%;
    grid-template-areas:
      "datetags"
      "title"
      "subtitle"
      "poster"
      "descrip"
    ;
    grid-template-rows: min-content min-content min-content min-content minmax(6em, 1fr);
  }

  &.has-tweet.no-preview {
    grid-template-columns: 100%;
    grid-template-areas:
      "datetags"
      "title"
      "subtitle"
      "poster"
    ;
    grid-template-rows: min-content min-content min-content min-content;
  }

}
