
.card-grid {
  display: grid;
  padding: 0 10px;
  // place-items: start;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat( auto-fill, minmax( 400px, 1fr ) );
    grid-template-rows: minmax(100px, 1fr);
    grid-gap: 20px;
  }
}

.grid-card {
  width: 100%;
  display: grid;
  align-items: stretch;
  text-decoration: none !important;
  position: relative;

  padding: 15px 15px 15px 15px;

  font-size: 14px;

  &.not-ootd-only {
    box-shadow: 0 3px 5px rgba(238,118,173,0.5);
    border-radius: 5px;
    border: 2px solid $gray-700;

  }

  .grid-poster {
    grid-area: poster;
  }

  .grid-date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1;
    padding-bottom: 5px;

    grid-area: datetags;

    span {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      white-space: nowrap;
    }
  }

  .grid-title {
    grid-area: title;
    font-size: 1.7em;
    font-weight: 500;
    margin: 0;
  }

  .grid-subtitle {
    grid-area: subtitle;
    font-size: 1.4em;
    font-weight: 300;
    margin: 0;
  }

  .grid-description {
    display: none;
    grid-area: descrip;
    color: $gray-600;
  }

  .grid-preview {
    grid-area: descrip;
    position: relative;
    overflow: hidden;


    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 20px;
      // bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;

      color: $gray-600;
    }

    > span {
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      line-height: 80px;
      font-size: 1.3em;
      font-weight: 700;

      background: linear-gradient(180deg,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.5) 10%,
        rgba(255,255,255,1) 70%,
      );
    }
  }


  &.is-tall {
    // display: none;
    grid-template-areas:
      "datetags datetags"
      "title poster"
      "subtitle poster"
      "descrip poster"
    ;
    grid-template-columns: 1fr 30%;
    grid-template-rows: min-content min-content min-content 1fr;

    .grid-poster img {
      max-width: 100%;
    }


  }

  &.is-square {
    // display: none;
    grid-template-areas:
      "datetags datetags"
      "title poster"
      "subtitle poster"
      "descrip poster"
    ;
    grid-template-columns: 1fr 50%;
    grid-template-rows: min-content min-content min-content 1fr;

    .grid-poster {
      padding-bottom: 10px;
      img {
        max-width: 100%;
      }
    }

    &.hide-title {
      grid-template-areas:
        "datetags datetags"
        "poster title"
        "poster subtitle"
        "poster descrip"
      ;
      grid-template-columns: 1fr 1fr;


      .grid-title, .grid-subtitle, .grid-description {
        display: none;
      }

      .grid-preview > div {
        left: 20px;
      }

      .grid-preview > span {
        padding-left: 20px;
      }
    }

    &.hide-title.no-preview {
      grid-template-areas:
        "datetags"
        "poster"
      ;
      grid-template-columns: 1fr;

      .grid-poster {
        padding-bottom: 0px;
      }

      .grid-poster > img {
        width: 100%;

      }
    }

  }

  &.is-wide {
    // display: none;
    // grid-template-columns: 1fr;
    grid-template-areas:
      "datetags"
      "title"
      "subtitle"
      "poster"
      "descrip"
    ;
    grid-template-rows: min-content min-content min-content min-content 1fr;

    .grid-poster img {
      width: 100%;
    }

  }
}
