
a {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

twitter-widget {
    margin-left: auto;
    margin-right: auto;
}

.card twitter-widget {
  margin: 5px !important;
  width: unset !important;

  @include media-breakpoint-down(sm) {
    width: 90vw !important;
  }
}

blockquote {
  font-family: 'Georgia';
  font-weight: 200;
  font-size: 1.05em;
  line-height: 1.4;
  background: #f0f8ff;
  border: 1px solid darken(#f0f8ff, 10%);
  padding: 15px;

  position: relative;

  strong {
    font-weight: 600;
  }

  &::before {
    font-family: "Montez", cursive;
    font-weight: 700;
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -30px;
    top: -20px;
    // color: #7a7a7a;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.twitter-tweet, &.cite {
    margin: 5px;
    padding: 10px;
    font-size: 12px;

    p {
      font-size: 16px;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
    }

    a[href] { text-decoration: underline; }
  }
}

h2, h3, h4 {
  clear: left;
}

li p {
  margin-bottom: 0;
  margin-top: 0.5em;
}

li p + ul {
  margin-bottom: 0.5em;
}

.twitter-tweet {
  width: unset !important;
}

.grid-row .twitter-tweet {
  margin: 0 !important;
}

.card {
  text-decoration: none;
  background: $lightPink;

  .card-img-top + .card-img-top {
    border-top: 1px solid $card-border-color;
    border-radius: 0
  }

  .card-body {
    padding: 7px 5px 5px;
    line-height: 1.3;
    color: #333;
    font-size: 12px;
    font-family: $font-secondary;
  }

  @include media-breakpoint-up(md) {

    &.left {
      float: left;
      margin-right: 10px;
    }

    &.right {
      float: right;
      margin-left: 10px;
    }

    &.center {
      margin-left: auto;
      margin-right: auto;
    }

    &.natural {
      .card-img-top {
        width: unset;
        max-height: 50vh;
        margin: 0 auto;
      }
    }

    &.span2, &.span3, &.span4, &.span5, &.span6 {

      &.left { clear: left; }
      &.right { clear: right; }

      &:first-child {
        margin-top: 0.5em;
      }
    }

    &.hero  { width: 35%; }
    &.span1 { width: 100%; }
    &.span2 { width:  50%; }
    &.span3 { width:  33%; }
    &.span4 { width:  25%; }
    &.span5 { width:  20%; }
    &.span6 { width:  15%; }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0 !important;
    margin-bottom: 5px;

    &.hero {
      margin: 0 -15px 10px -15px;
      border-left: none;
      border-right: none;
      border-radius: 0;

      img { border-radius: 0; }
    }
  }
}

.grid-row {
  clear: both;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );

  margin-bottom: 1rem;

  .double { grid-row-end: span 2; }

}

.spoiler {
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
    "content"
  ;

  .spoiler-wrap {
    border: 1px solid gray;
    overflow: hidden;
    grid-area: content;
    justify-self: center;

  }

  .spoiler-target {
    filter: blur(30px);
    transition-property: -webkit-filter;
    transition-duration: .2s;
  }

  .spoiler-caption {
    grid-area: content;
    align-self: center;
    justify-self: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 2px 1px rgba(0,0,0,0.8);
    z-index: 10;

    transition-property: opacity;
    transition-duration: .2s;
    opacity: 1;
  }

  &:target, &:target {
    .spoiler-target {
      filter: blur(0px);
    }

    .spoiler-caption {
      opacity: 0;
    }
  }
}


.matrix-row {
  clear: both;
  display: flex;
  justify-content: center;

  margin-bottom: 15px;
  background-color: #030;

  padding: 10px 5px 0px 5px;
  > * {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid transparent;
  }

  img {
    max-height: 300px;
    outline:1px solid #676;
  }

  & + .matrix-row {
    margin-top: -19px;
    padding-top: 5px;

    > * { margin-top: 0; }
  }

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    img { min-width: 100%; }
  }
}

.cw {
  $cwColor: #f4f4f4;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 10px solid $cwColor;
  border-right: 10px solid $cwColor;
  border-bottom: 10px solid $cwColor;
  margin-bottom: 1rem;

  .cw-header {
    font-weight: 700;
    background-color: $cwColor;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $font-secondary;

    p { margin: 0; }
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

a.instagram {
  text-decoration: none;
  border-color: $blue;
  color: $darkBlue;
  background-color: $lightBlue;
  margin: 0 auto;
  display: block;
  max-width: 350px;

  .fab {
    font-size: 25px;
    vertical-align: sub;
    line-height: 25px;
    margin-right: 5px;
  }
}
