
.page-post article {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  @include media-breakpoint-up(md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "subtitle"
    "datetags"
    "images"
    "products"
    "contents"
  ;
  grid-template-rows: min-content min-content min-content min-content min-content 1fr;

  .post-images {
    grid-area: images;

    // @include media-breakpoint-up(md) {
    //   padding-left: 5px;
    // }

    a {
      display: block;
      margin-top: 5px;
      border: 1px solid $pink;
      align-self: center;
    }

    img, video {
      display: block;
      width: 100%;
    }

    .image-caption {
      display: block;
      text-align: center;
      background: $lightPink;
      color: #333;
      font-size: 12px;
      font-family: $font-secondary;
      padding: 2px 10px;
    }
  }

  .post-carousel {
    grid-area: images;

    .carousel {
      background: #EEE;
      margin-bottom: 40px;
    }

    .carousel-cell {
      margin: 10px;
      img, video {
        max-height: 370px;
      }
    }

    .carousel:not(.flickity-enabled) {
      height: 390px;
      overflow: hidden;
    }
  }

  .post-title {
    grid-area: title;
    margin: 0 0 10px 0;
    line-height: 1;
    font-weight: 500;
    font-size: 2rem;

    @include media-breakpoint-down(sm) {
      padding: 0 10px;
    }
  }

  .post-subtitle {
    grid-area: subtitle;
    margin: 0 0 10px 0;
    line-height: 1;
    font-size: 1.6rem;
    font-weight: 300;

    @include media-breakpoint-down(sm) {
      padding: 0 10px;
    }
  }

  .post-date {
    grid-area: datetags;
    font-family: $font-secondary;
    letter-spacing: 1px;
    font-size:12px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      padding: 0 10px;
    }

    span, a {
      display: inline-block;
      white-space: nowrap;
      margin-right: 5px;
      margin-bottom: 4px;
      background: lighten($primary, 20%);
      color: darken($primary, 20%);
      padding: 0.4em 0.5em;
    }

    a {
      text-decoration: underline;
    }
  }

  .post-content {
    grid-area: contents;
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: 0 10px;
    }

    @import './markup';
  }

  .post-products {
    grid-area: products;
    margin: 0 0 10px 0;
    padding: 0;
    border-radius: 10px;
    font-size: 14px;

    font-family: $font-secondary;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
      padding: 0 10px 10px;
    }

    li {
      background: rgba(60, 0, 0, 0.1);
      display: block;
      padding: 0.5em 0.8em;
      margin-top: 5px;

      border: 1px solid rgba(60, 0, 0, 0.2);
      border-left: 8px solid rgba(60, 0, 0, 0.3);
    }

    li.title {
      border: none;
      background: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: -5px;
    }

    .disclosure {
      float: right;
      font-size: 10px;
      color: #ccc;
      line-height: 1.8rem;
    }
  }

  > :first-child {
    margin-top: 10px;
  }

  &.single-image.show-images {

    .post-images img {
      box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    }

    .post-images a {
      border: none;
    }

    &.is-wide, &.is-extra-long {
      .post-images {
        margin-bottom: 20px;
      }

      .post-images img {
        // width: unset;
        margin: 0 auto;
        max-width: 100%;
        @include media-breakpoint-up(md) {
          max-height: 60vh;
        }
        @include media-breakpoint-down(sm) {
          max-width: 100vw;
        }
      }
    }

    &:not(.is-extra-long) { &.is-square, &.is-tall {
      @include media-breakpoint-up(md) {

        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "title title"
          "subtitle subtitle"
          "datetags datetags"
          "images contents"
          "products products"
        ;
        grid-column-gap: 20px;

        &.is-long {
          grid-template-columns: 1fr 2fr;
        }

        &.is-short {
          grid-template-areas:
            "title title"
            "subtitle subtitle"
            "datetags datetags"
            "images products"
            "images contents"
            "images ."
          ;
        }
      }
    }}
  }

  &.horizontal.show-images {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "subtitle"
      "datetags"
      "images"
      "products"
      "contents"
    ;

    @include media-breakpoint-up(md) {
      .post-images {
        padding-left: 0;

        display: grid;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr ) );
        max-width: 1010px;
        margin: 0 auto 10px;
      }
    }
  }

  &.hide-images {
    max-width: 1000px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "subtitle"
      "datetags"
      "products"
      "contents"
    ;

    padding: 0 20px;

    .post-images {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      padding: 0 5px;
    }

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }

}



.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 100;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
