@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/variables';

$font-primary: 'Work Sans',Arial, sans-serif;
$font-secondary: 'Montserrat', 'Helvetica Neue', Helvetica, serif;

$white: #fff;
$black: #000;
$primary: #ee76ad;

html {
	// overflow-x: hidden;
}

body {
	font-family: $font-primary;
	background: $white;
	font-size: 18px;
	line-height: 1.8;
	font-weight: 300;
	color: lighten($black,45%);
}

a {
	transition: .3s all ease;
	color: $primary;
	&:hover {
		text-decoration: none;
		color: $primary;
	}
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: $black;
	font-weight: 300;
	font-family: $font-secondary;
}



.logo {
  background: linear-gradient(-60deg, rgba(41,186,228,1) 10%, rgb(255,255,255) 50%, rgba(238,118,173,1) 90%);

  font-family: Charm, cursive;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  color: #222;
  padding: 10px;
  text-shadow:  1px 1px 1px white, -1px -1px 1px white, 0 0 1em white, 0 0 0.2em white;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.3);

  @include media-breakpoint-up(md) {
    font-size: 42px;
  }

  a {
    color: inherit;
  }

  a.external {
    float: right;
    color: black;
    font-weight: 400;

  }
}


.page-index {

  .top-row {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );

      .post:first-child {
        grid-column-end: span 2;
        grid-row-end: span 25;
      }
    }
  }

  .post {



    .post-poster {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;

      > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        a { color: inherit; }
      }
    }
  }

  .post.previous {
    padding: 0 10px;

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .post-date, .post-tag {
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      white-space: nowrap;
    }

    .post-title {
      flex: 1;
      flex-grow: 0;
      font-size: 18px;
      background: rgba(255,255,255,0.8);
      margin: 0;
      padding: 1em 0.7em;
      text-shadow: 0 0 1em rgba(255,255,255,0.5), 0 0 0.2em white;
      font-weight: 500;
    }

    .post-description {
      font-size: 12px;
      padding: 10px 10px 0 10px;
    }
  }

  .post.prime {

    .post-poster > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .shade {
      flex: 0;
      background: rgba(255,255,255,0.5);
      padding: 1em 0.7em;

      @include media-breakpoint-up (md) {
        border-radius: 15px;
        padding: 5px 10px 5px 10px;
        margin: 0 10px 10%;
      }
    }

    .post-date {
      flex: 0;
      font-family: $font-secondary;
      text-transform: uppercase;
      line-height: 1.8;
      font-size: 14px;
      color: black;
      padding-left: 20px;
      text-shadow: 0 0 1em rgba(255,255,255,0.7), 0 0 0.2em white;

      strong {
        font-weight: 700;
      }

      span {
        font-family: $font-secondary;
        letter-spacing: 2px;
        font-weight: 400;
        white-space: nowrap;
        margin-left: 10px;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 15px;

        strong {
          display: block;
        }
        span {
          font-size: 12px;
          margin: 0;
        }
        .emdash {
          // display: none;
        }
      }
    }

    .post-title {
      margin: 0;
      font-family: $font-secondary;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }

    .post-description {
      font-size: 16px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }
  }
}

.page-post {

  article {
    display: flex;
    flex-direction: row;

    section {
      flex: 2;
    }

    section.contents {
      flex: 2;
      padding: 20px;
    }

    &.long {
      section.contents {
        flex: 4;
      }
    }
  }

  .images img {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  .products {

    padding: 0;
    border-radius: 10px;
    font-size: 14px;

    font-family: $font-secondary;
    font-weight: 600;

    li {
      background: rgba(60, 0, 0, 0.1);
      display: block;
      padding: 0.5em 0.8em;
      margin: 10px 0;

      border: 1px solid rgba(60, 0, 0, 0.2);
      border-left: 8px solid rgba(60, 0, 0, 0.3);
    }
  }
}
