{
	"extends": "twipped/node8",
	"env": {"es6": true},
    "parserOptions": {"ecmaVersion": 2018},
	"rules": {
		"node/no-unpublished-require": 0,
		"promise/no-native": 0,
    'indent': [ 2, 2, {
      'MemberExpression': 1,
    } ],
    'node/no-unsupported-features/es-syntax': [ 'error', { 'version': '>=8.14.0' } ],
    'node/no-unsupported-features/es-builtins': [ 'error', { 'version': '>=8.14.0' } ],
    'node/no-unsupported-features/node-builtins': [ 'error', { 'version': '>=8.14.0' } ],
	}
}
