<div class="cw living"><div class="cw-header">This is a Living Document</div>
  <p>Please note that this post is not finished. The contents will change over time as new additions and revisions are made to further expand the full breadth of Gender Dysphoria. The post is severely lacking in AFAB narratives, non-binary, agender &amp; genderfluid specific dysphoria, and Two-Spirit narratives. I would also like to go into more detail about non-western cultural representations of gender.</p>

  <p>If you would like to contribute, offer suggestions, or have constructive criticism, please contact me via any of the social media accounts linked at the top of the page. If you are of a GitHub persuasion you may also <a href="https://github.com/Twipped/CurvyAndTrans.com/tree/master/posts/2020-01-26.1200.740D5B">submit changes directly</a> via a pull request.</p>

  <p>If you wish to contribute financially to my work, please consider making a pledge to <a href="https://patreon.com/curvyandtrans">my Patreon</a>, or a one-time donation <a href="https://ko-fi.com/curvyandtrans">via Ko-Fi</a>.
</div>
