<h3 class="tagged-header">
  <span>Latest Posts</span>
  <button type="button" class="btn btn-primary btn-sm" data-toggle="drawer" href="#drawer"><i class="fas fa-tags"></i><span>&nbsp;Filter By Tag</span></button>
</h3>
<div class="card-grid">
  {{#with posts.first}}
    {{> indexCard prime=true}}
  {{/with}}
  {{#each posts.ordered}}
    {{> indexCard}}
  {{/each}}
</div>
{{#unless full}}
<div class="load-more">
  <button class="btn btn-primary btn-info btn-lg js-load-more" type="button">Load More</button>
</div>
{{/unless}}
