<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="author" content="curvyandtrans">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:site_name" content="Curvy & Trans">
  {{block "meta"}}
  <title>{{page.title}}</title>
  <link rel="icon" type="image/png" href="{{rev '/favicon.png'}}">
  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
  <link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='https://curvyandtrans.com/atom.xml'>
  <link rel="stylesheet" href="{{rev '/css/style.css'}}" type="text/css" media="screen" title="no title" charset="utf-8">
  <link href="//fonts.googleapis.com/css?family=Montez:400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:100,200,300,400,700,800" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body {{block "bodyAttributes"}}>

  <div class="root">
    <header>
      <h1><a href="/">curvy & trans</a></h1>
      <div class="nav-external">
        <a href="mailto:media@curvyandtrans.com" class="btn btn-sm btn-outline-dark"><i class="fas fa-envelope"></i> Email</a>
        <a href="https://www.instagram.com/curvyandtrans" class="btn btn-sm btn-outline-dark" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="https://patreon.com/curvyandtrans" class="btn btn-sm btn-outline-dark"><i class="fab fa-patreon"></i> Patreon</a>
        <a href="https://tellonym.me/curvyandtrans" class="btn btn-sm btn-outline-dark">Send me a Tell</a>
      </div>
      {{block "header"}}
    </header>

    <div id="body">
      {{block "body"}}
    </div>
    <footer>
      All images and text are owned and copyright &copy; {{date "YYYY"}}.<br>
      Some links on this site contain affiliate information for purposes of monetization.<br>
    </footer>
  </div>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
  {{#block "postscripts"}}{{/block}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4767790-14"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag () { window.dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-4767790-14');
  </script>

</body>
</html>
