<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="author" content="Jocelyn Badgley">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:site_name" content="Curvy & Trans">
  <meta name="twitter:site" content="@twippingvanilla">
  {{block "meta"}}
  <title>{{page.title}}</title>
  <link rel="icon" type="image/png" href="{{rev '/favicon.png'}}">
  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
  <link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='https://curvyandtrans.com/atom.xml'>
  <link rel="stylesheet" href="{{rev '/css/style.css'}}" type="text/css" media="screen" title="no title" charset="utf-8">
  <link href="//fonts.googleapis.com/css?family=Montez:400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:100,200,300,400,700,800" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  {{#block "prescripts"}}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  //  (adsbygoogle = window.adsbygoogle || []).push({
  //    google_ad_client: "ca-pub-4766388012660179",
  //    enable_page_level_ads: true
  //  });
  </script>
  {{/block}}
</head>
<body {{block "bodyAttributes"}}>
  {{block "preRoot"}}
  <div class="root">
    <header>
      <h1><a href="/">curvy & trans</a></h1>
      <div class="nav-external">
        <a href="mailto:media@curvyandtrans.com" class="btn btn-sm btn-outline-dark"><i class="fas fa-envelope"></i>&nbsp;Email</a>
        <a href="https://www.instagram.com/curvyandtrans" class="btn btn-sm btn-outline-dark" target="_blank"><i class="fab fa-instagram"></i>&nbsp;Instagram</a>
        <a href="https://twitter.com/CurvyAndTrans" class="btn btn-sm btn-outline-dark" target="_blank"><i class="fab fa-twitter"></i>&nbsp;Twitter</a>
        <a href="https://facebook.com/curvyandtrans" class="btn btn-sm btn-outline-dark" target="_blank"><i class="fab fa-facebook-square"></i>&nbsp;Facebook</a>
        <!-- <a href="https://patreon.com/curvyandtrans" class="btn btn-sm btn-outline-dark"><i class="fab fa-patreon"></i>&nbsp;Patreon</a> -->
        <!-- <a href="https://tellonym.me/curvyandtrans" class="btn btn-sm btn-outline-dark">Send me a Tell</a> -->
      </div>
      {{block "header"}}
    </header>

    <div id="body">
      {{block "body"}}
    </div>
    <footer>
      <p>All original images and text are owned and copyright &copy; {{date "YYYY"}} Jocelyn Badgley, all rights reserved.</p>
      <p><a href="https://github.com/Twipped/CurvyAndTrans.com">Site source is available for reference and reuse on GitHub</a></p>
    </footer>
  </div>

  {{#block "postscripts"}}{{/block}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4767790-14"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag () { window.dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-4767790-14');
  </script>

</body>
</html>
