{{#extend "layout"}}

  {{#content "meta"}}
  <meta property="og:title" content="{{title}}{{#if subtitle}}, {{subtitle}}{{/if}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="https://curvyandtrans.com{{rev titlecard}}">
  <meta property="og:url" content="https://curvyandtrans.com{{url}}">
  <meta name="twitter:title" content="{{title}}{{#if subtitle}}, {{subtitle}}{{/if}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://curvyandtrans.com{{rev titlecard}}">
  <link rel="canonical" href="https://curvyandtrans.com{{url}}">
  {{/content}}

  {{#content "bodyAttributes"}}class="page-index page-post"{{/content}}

  {{#content "header"}}
  <span class="catchphrase">Just a plus size trans girl in a straight size cis world.</span>
  {{/content}}

  {{#content "body"}}
    <article class="hide-images">
      {{#if title}}<h1 class="post-title"><a href="{{this.url}}">{{title}}</a></h1>{{/if}}
      {{#if subtitle}}<h2 class="post-subtitle"><a href="{{this.url}}">{{subtitle}}</a></h2>{{/if}}
      <div class="post-content">
        {{{this.contents}}}
      <div class="card-grid">
        {{#each posts}}
          {{> indexCard}}
        {{/each}}
      </div>
      </div>
    </article>



  {{/content}}

{{/extend}}
