{{#extend "layout"}}

	{{#content "meta"}}
	<meta property="og:title" content="{{this.title}}">
	<meta property="og:description" content="{{this.description}}">
	<meta property="og:image" content="{{rev this.poster}}">
	<meta property="og:url" content="{{this.url}}">
	<meta name="twitter:card" content="summary_large_image">{{/content}}

  {{#content "bodyAttributes"}}class="page-post"{{/content}}
	{{#content "body"}}
	<article class="{{#if long}}long{{/if}} {{#if noimages}}noimages{{/if}}">
    {{#if title}}<h1 class="post-title"><a href="{{this.url}}">{{this.title}}</a></h1>{{/if}}
    <div class="post-date"><span>{{date 'MMMM Do, YYYY' this.date}}</span>{{#each tags}}<span>{{this}}</span>{{/each}}</div>
    {{#unless noimages}}<div class="post-images">
      {{#each images}}<a href="{{rev this}}"><img src="{{rev this}}" alt="">{{#if (get ../captions @key)}}<span>{{get ../captions @key}}</span>{{/if}}</a>{{/each}}
    </div>{{/unless}}

    {{#if products}}
    <ul class="post-products">
      <li>Products:</li>
      {{#each products}}<li><a href="{{this}}" rel="nofollow">{{@key}}</a></li>{{/each}}
    </ul>
    {{/if}}
    <div class="post-content">
      {{#if hero}}<a href="{{{hero}}}" class="hero right"><img src="{{{hero}}}" alt=""></a>{{/if}}
      {{{this.contents}}}
    </div>
  </article>
	{{/content}}

{{/extend}}
