{{#extend "layout"}}

	{{#content "meta"}}
	<meta property="og:title" content="{{this.title}}">
	<meta property="og:description" content="{{this.description}}">
	<meta property="og:image" content="{{this.poster}}">
	<meta property="og:url" content="{{this.url}}">
	<meta name="twitter:card" content="summary_large_image">{{/content}}

  {{#content "bodyAttributes"}}class="page-post"{{/content}}
	{{#content "body"}}
  <div class="logo">
    <a href="/">curvy and trans</a>
    <a href="http://www.instagram.com/curvyandtrans" class="external" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
	<article class="{{#if long}}long{{/if}}">
    <section class="images">
      {{#each images}}<img src="{{this}}" alt="">{{/each}}
    </section>
		<section class="contents">
			<h1 class="post-title">
			 <a href="{{this.url}}">{{this.title}}</a>
				<small class="post-date">{{date 'MMMM Do, YYYY' this.date}}</small>
			</h1>
      {{#if products}}
      <ul class="products" rel="nofollow">{{#each products}}<li><a href={{this}}>{{@key}}</a></li>{{/each}}</ul>
      {{/if}}
      <div class="post-content">{{{this.contents}}}</div>
		</section>
	</article>
	{{/content}}

{{/extend}}
