
<div class="tweet{{#is ids.length 1}} single{{/is}} {{className}}" style="{{style}}">
  {{#each ids}}
  <div class="tweet-item" data-id="{{this}}">{{#with (lookup ../tweets this)}}
    <a class="tweet-header" href="https://twitter.com/{{user.screen_name}}">
      <b><img src="{{rev user.avatar.output}}" alt=""></b>
      <strong>{{{user.name_html}}}{{#if user.verified}}<i class="tweet-verified">&nbsp;</i>{{/if}}</strong>
      <span>@{{user.screen_name}}</span>
      <img src="/tweets/logo.svg" alt="Twitter Logo" class="tweet-logo">
    </a>
    <div class="tweet-text">{{{html}}}</div>
    {{#if quoted_status}}<a class="tweet-quoted" href="https://twitter.com/{{quoted_status.user.screen_name}}/status/{{quoted_status.id_str}}">
      <strong>{{{quoted_status.user.name_html}}}</strong>
      <span>@{{quoted_status.user.screen_name}}</span>
      <div class="tweet-quoted-text">{{{quoted_status.html}}}</div>
    </a>{{/if}}
    {{#with (any extended_entities.media entities.media)}}{{#if this.length}}
    <div class="tweet-entities"><div class="count{{this.length}}">
      {{#each this}}
        {{#is type 'photo'}}<a class="tweet-photo" style="background-image: url({{../media_url_https}}?name=medium);" href="{{../media_url_https}}"></a>{{/is}}
        {{#is type 'video'}}
          <video controls poster="{{../media_url}}" class="tweet-video">
            {{#each ../video_info.variants}}
            <source src="{{url}}" type="{{content_type}}">
            {{/each}}
          </video>
        {{/is}}
        {{#is type animated_gif}}

        {{/is}}
      {{/each}}
    </div></div>
    {{/if}}{{/with}}
    <div class="tweet-footer">
      <a class="tweet-date" href="https://twitter.com/{{user.screen_name}}/status/{{id_str}}">{{date created_at "h:mm aa - LLL do, yyyy"}}</a>
    </div>
  {{else}}Missing tweet for {{this}}{{/with}}</div>
  {{/each}}
</div>
