{{#extend "layout"}}

	{{#content "meta"}}
	<meta property="og:title" content="{{this.title}}">
	<meta property="og:description" content="{{this.description}}">
	<meta property="og:image" content="{{this.image}}">
	<meta property="og:url" content="{{this.url}}">
	<meta name="twitter:card" content="summary_large_image">{{/content}}

	{{#content "body"}}
		<article>
			<div class="page-header">
				<h1 class="post-title">
				<a href="{{this.url}}">{{this.title}}</a>
					<small class="post-date">{{date 'MMMM Do, YYYY' this.date}}</small>
				</h1>
			</div>
			<div class="post-content">{{{this.contents}}}</div>
		</article>
	{{/content}}

{{/extend}}
